<launch>
  <param name="use_sim_time" type="bool" value= "false" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_map" args="0 0 0 0 0 0 1 base_link map 10" /> 
  
  <node pkg="lidar_ros_driver" type="lidar_ros_driver" name="lidar_ros_driver" respawn="true" output="screen">
    <param name="x_min" type="double" value="-160.0" />
    <param name="x_max" type="double" value="160.0" />
    <param name="y_min" type="double" value="-70.0" />
    <param name="y_max" type="double" value="160.0" />
    <param name="z_min" type="double" value="-2.0" />
    <param name="z_max" type="double" value="4.0" />
    <param name="inten_min" type="double" value="8.0" />
    <param name="inten_max" type="double" value="256.0" />
    <param name="usv_length" type="double" value="3.6" />
    <param name="usv_width" type="double" value="1.85" />
    <param name="outlier_static_check_point" type="int" value="30" />
    <param name="outlier_static_tol" type="double" value="2.0" />
    <param name="outlier_radius_search" type="double" value="4.0" />
    <param name="outlier_radius_min_neighbor" type="int" value="30" />
    <param name="voxel_grid_downsample_factor" type="double" value="0.1" />
    <param name="cluster_size_min" type="int" value="50" />
    <param name="cluster_size_max" type="int" value="30000" />
    <param name="cluster_tol" type="double" value="3.5" />
    <param name="target_vessel_length_min" type="double" value="1.0" />
    <param name="target_vessel_length_max" type="double" value="25.0" />
    <param name="target_vessel_width_min" type="double" value="0.25" />
    <param name="target_vessel_width_max" type="double" value="8.0" />
  </node>
  <!-- <node pkg="rosbag" type="record" name="usv_lidar_rosbag" output="screen" args="/livox/lidar_192_168_147_231 /livox/lidar_192_168_147_232 /livox/lidar_192_168_147_233 -O /home/$(env USER)/usv_lidar.bag" /> -->

  <arg name="rviz" default="false" />
  <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_ros_driver)/config/rviz.rviz" />
    </group>
</launch>